# DeepSeek 模型配置
DEEPSEEK_API_KEY='your_deepseek_api_key'
DEEPSEEK_BASE_URL='https://dashscope.aliyuncs.com/compatible-mode/v1'

# Qwen 模型配置
QWEN_OMNI_API_KEY='your_qwen_api_key'
QWEN_OMNI_BASE_URL='https://dashscope.aliyuncs.com/compatible-mode/v1'

# Tongyi Embedding 模型配置
TONGYI_EMBIDDING_API_KEY='your_tongyi_api_key'
TONGYI_EMBIDDING_BASE_URL='https://dashscope.aliyuncs.com/compatible-mode/v1'
